@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Sansation';
    src: local('Sansation'), url(./assets/fonts/Sansation-Regular.ttf) format('truetype');
}

* {
    font-family: 'Sansation';
}